.login {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 0 20px;
}

.loginBox {
  text-align: center;
  width: 100%;
  max-width: 420px;
}

.loginLoader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
