.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
}

.loginBox {
  text-align: center;
  width: 100%;
  max-width: 420px;
}

.loginError {
  color: var(--colors-interface-error);
}
