.list {
  height: calc(100vh - 500px) !important;
}

.order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ingredients-list {
  list-style: none;
  height: 100%;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  border-width: 1px;
}

.ingredients-top,
.ingredients-bottom {
  min-height: 30px;
}

.ingredients-drag {
  width: 30px;
}

:global(.constructor-element) {
  flex-grow: 1;
}

:global(.constructor-element__text) {
  flex-grow: 1;
}
